header
{
  background-image: url(images/linkedin2.jpg);
  height: 90vh;
  background-position: center;
  background-size: cover;
  margin-top: -70px;
  display: block;
}


.main-nav
{
  float: right;
  list-style: none;
  margin-top: 50px;
  display: block;
}

.main-nav li
{
  display: block;
  padding: 10px;
}

.main-nav li a
{
  color:white;
  text-decoration:none;
  padding: 5px 20px;
  font-family: sans-serif;
  font-size: 20px;
  font-family: Roboto;
}

.main-nav li.active a
{
  border:1px solid white;
}

.main-nav li a:hover
{
  border: 1px solid white;
}

body
{
  font-family: serif;
}
.row
{
  max-width: 1200px;
  margin:auto;
  margin-top: 30px;
}

.titleinthemiddle
{
  color:white;
  text-decoration:none;
  padding: 5px 20px;
  font-family: sans-serif;
  font-size: 15px;
  font-family: Roboto, sans-serif;
  position: absolute;
  right: 50px;
  margin-top: 100px;
  width: 350px;

}

.btn
{
  border: 1px solid white;
  padding: 10px 30px;
  color: white;
  text-decoration: none;
  margin-right: 5px;
  font-size: 20px;
}

#hello{
  font-family: Roboto;
  font-weight: bolder;
  color: white;
  font-size: 5vw;
  margin-left: 60%;
}

h1{
  font-family:serif;
  font-size: 80px;
}
#about{
  text-align: center;
}
#aboutgrid{
  display: grid;
  font-family: serif;
  margin-bottom: 20px;
  font-size: 25px;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

#designgrid{
  width: 100%;
  display: block;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
}


 #photography1{
    display: block;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #design{
    width: 100%;
    height: 650px;
  }

  #uxdesign{
    display: block;
    font-family: serif;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
    font-size: 20px;
    margin-top: 800px;

  }

  #imageGallery{
  width: 80%;
  margin: 0 auto;
  }


    .imageGallery{
      width: 100%;
      display: block;
    }

#container{
  display: block;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 18px;
  text-align: center;
  margin-top: 20px;
  grid-row-gap: 7px;
  grid-column-gap: 10px;
  font-size: 25px;

}

#container1{
  display: block;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 18px;
  text-align: center;
  margin-top: 20px;
  grid-row-gap: 7px;
  grid-column-gap: 10px;
  font-size: 25px;

}


.text{
  font-size: 36px;
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: bold;
}
footer{
     width: 100%;
     height: 120px;
     margin: 0 auto;
     font-family: serif;
     text-align: center;
     background-color: rgba(240,128,128,.8);

   }
